<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SiteUrl" value="http://yoursite.com" />
    <add key="Domain" value="" />
    <add key="Username" value="Username" />
    <add key="Password" value="Password" />
    <add key="FromEmail" value="you@you.com" />
    <add key="CcEmail" value="you@you.com" />
    <add key="ListTitle" value="Team Tasks" />
    <add key="MaxItems" value="1000" />
    <add key="DueDateFieldName" value="DueDate" />
    <add key="AssignedToFieldName" value="AssignedTo" />
    <add key="ModifiedFieldName" value="Modified" />
    <add key="FilterFieldName" value="Status" />
    <add key="FilterFieldValue" value="Completed" />
    <add key="WayOverdueDelta" value="3" />
    <add key="EmailSubject" value="Task reminder {0}" />
    <add key="ErrorEmailSubject" value="Error running the reminder program" />
    <add key="ErrorTo" value="you@you.com" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPSSL" value="true" />
    <add key="SMTPUserName" value="you@gmail.com" />
    <add key="SMTPPassword" value="(Not your usual gmail password. Use the Device Password generator in gmail to generate password)" />
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="network">
        <network host="smtp.intra.bt.com" port="25"/>        
      </smtp>
    </mailSettings>-->
    <defaultProxy>
      <proxy usesystemdefault="True" autoDetect="True" />
    </defaultProxy>
  </system.net>
</configuration>